@import "tailwindcss";
@import '@fontsource/eb-garamond/400.css';
@import '@fontsource/eb-garamond/700.css';
@import '@fontsource/inter/400.css';
@import '@fontsource/inter/700.css';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  @apply font-serif leading-relaxed text-lg;
}

h1, h2, h3, h4, h5, h6 {
  @apply font-serif font-bold;
}

nav, .sidebar {
  @apply font-sans text-base;
}

section {
  @apply mb-16;
}

* {
  box-sizing: border-box;
}
